<template name="listOfGroups">	
	<div class="col-xs-12 col-sm-6 col-md-6">
		<h2>All groups</h2>
		{{#each groups}}
			<div class="media">
		  		<div class="media-left media-middle">
						<a class="idadd" href="/groups/{{_id}}"><img src="#"></a>
		  		</div>
		  		<div class="media-body">
		  			<a class="idadd" href="/groups/{{_id}}"><h4 class="media-heading">{{groupName}}</h4></a>
		  			
		  				<p>Delete groupe   <button class="btn btn-danger delete">&times;</button></p>
		  			
		  		</div>
	  		</div>
	  	{{/each}}				  		
	</div>
</template>

 <!-- {{#each groupeNames}}
	  		{{#if myGroupe}}					
			  	<div class="media">
			  		<div class="media-left media-middle">
							<a class="idadd" href="/groups/{{_id}}"><img src="{{identicon groupName}}"></a>
			  		</div>
			  		<div class="media-body">
			  			<a class="idadd" href="/groups/{{_id}}"><h4 class="media-heading">{{groupName}}</h4></a>
			  			{{#if isAdmin}}
			  				<p>Delete groupe   <button class="btn btn-danger delete">&times;</button></p>
			  			{{/if}}
			  		</div>
			  	</div>				  							
				{{/if}}
			{{/each}}			  	 -->