<template name="addDishToMenu">    
    <a class="btn btn-default js-toggle-form" href="#">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>    
    <div id="addDishToMenu" class="hidden_div">
        <form class="js-form">
            <div class="form-group">
                <label for="dishname">Dish name</label>
                <input type="text" class="form-control" id="dishname" placeholder="Pizza" name="dishname">
            </div>           
            <div class="form-group">
                <label for="price">Price, $</label>
                <input type="number" class="form-control" id="price"  name="price">
            </div>
            <button type="submit" class="btn btn-success">Add dish</button>
        </form>
    </div>
</template>