
<template name="groupe">
  <div class="container top-margin darkblue">
  	<div class="row">
  		<div class="jumbotron groupe">
			  <h2>Groupe: "{{groupName}}"</h2>
			  <h4>Groupe admin is {{creator}}</h4>
			  <h4>Event status: {{eventStatus}}</h4>
			  {{#if isEvent}}
			  <h4>Pizza Day will be at {{eventDate}}</h4>
			  {{/if}}
		  </div><!-- / Jumbotron -->
		  <div class="col-xs-12 col-sm-8 col-md-8 ">
			  {{> adminInfoPanel}}
			  {{> userPanel}}
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 admincolor">
			  {{> adminControlPanel}}
			</div>
		</div><!-- / Row -->  
	</div><!-- / Container -->	
</template>
	
