<template name="Pizzaday">	
	{{#if complete}}
		<div class="col-xs-12 col-sm-12 col-md-12">		
			<h1>You made your order. Wait for Pizzaday and have fun))))</h1>
			<h3>Your order:</h3>
			{{#each orders}}	
				<div>{{this}}</div>				
			{{/each}}	
			<h4>Total cash: {{total}}</h4>		
		</div>
	{{else}}
		{{#if confirm}}
			<div class="col-xs-6 col-sm-6 col-md-6">		
				<h1>Make your order</h1>
				{{#each menu}}	
					<div>{{dish}} - {{price}}$</div>
					<a class="btn btn-info orderDish" href="#">Order</a>		
				{{/each}}			
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6">
				<h1>You order this:</h1>
				{{#each orders}}	
					<div>{{this}}</div>				
				{{/each}}	
				<h4>You should give cash to Groupe admin: {{total}}$</h4>	
				<a class="btn btn-info complete" href="#">Complete your order</a>	
			</div>
		{{else}}
			{{#if statusbuying}}
			{{else}}
			<div class="col-xs-12 col-sm-12 col-md-12">		
				<h1>Pizzaday announced. Will you take part?</h1>
				<a class="btn btn-info confirm" href="#">Confirm</a>
			</div>
			{{/if}}	
		{{/if}}	
	{{/if}}		
</template>